html{
    min-height:100%; 
}
body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-color:#95e8f3; 
}
form{
    padding:20px;
    margin-top:60px;
}
form,button,form h5{
    margin:20px 0;
}